
    {% extends 'base.html' %} {% block content %}
<div style="width: 100%; height: auto ;display:flex;align-items: center;justify-content: center;" >
    
        <div style="display: flex;align-items: center;justify-content: space-around;margin-bottom: 100px;gap: 2px;"  class="col "> 
            <div style="width: 200px;height: 300px;display: flex;align-items: center;justify-content: space-between;" >
                <h5 class="card-title">{{post.title2}}</h5>
                <p class="card-text">{{post.text2}}</p>
              </div>
          </div>
    </div>

     {% endblock content %}
    